body{
  background-color: rgb(67, 136, 113);
  justify-content: center;
  text-align: center;
}

.container{
  
    background-color: rgb(224, 26, 118);
   justify-content: center;
   width: 50%;
   text-align: center;
   margin-left: 26%;
   margin-right: 5%;
   margin-top: 20%;
   padding: 20px;
}

.header{
  background-color: rgb(245, 55, 86);
  width: 100%;
  padding: 12px 20px;
  color: white;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    
}

.addTask{
  padding-top: 50px;
}

.delbtn{
  margin-left: 20px;
}

.first{
  width: 300px;
        margin: auto;
        border: 3px solid #4287f5;
  background-color: black;
  color:yellowgreen;
}